/*  Header styles  */
/* header {
	width: 300px;
	: flex;
	flex-: column;
	: center;
	margin-: ;
}

... h1 {
	font-: 20px;
	font-: 600;
	text-: center;
}

.... img {
	width: 100px;
} */

/* main {
	padding: ;
}

.login-section {
	padding: ;
} */

/* Form stylea */
/*.loginForm {
	width: 100%;
}

..... input {
	width: 97%;
	margin: ;
	padding: ;
	: none;
	-radius: 5px;
	-color: rgb(254, 238, 238);
}*/

/* Button styles */
/* .button-full {
	: none;
	font-: medium;
	margin: ;
}

......hover {
	: pointer;
	-color: lightgray;
	: black;
} */
