/* Header styles */
/* 

....
....
....
....
....

*/

/* Main section styles */

/* .....-menu {
	padding: ;
	-color: rgb(247, 247, 247);
	border-: 10px;
	height: 78vh;
	min-width: 340px;
} */

/* Card styles */

/* .card {
	width: 100%;
  : flex;
	: center;
	margin: ;
	
}

.... img {
	width: 80px;
	background-: whitesmoke;
	margin-: ;
}

...-name {
	font-: 16px;
	font-: 600;
}

...-desc {
	font-: 12px;
	padding: ;
}

...-order {
	: flex;
	: space-between;
}

...-order p {
	font-: 14px;
	font-: 500;
}

...-order button {
	padding: ;
	: white;
	-color: #ff9191;
}

...-order ...:hover {
	-color: lightgray;
	color: black;
	} */
