header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 1rem;
	padding-bottom: 2%;
	border-bottom: rgb(54, 255, 161) solid;
}

header img {
	width: 30px;
}

header h3 {
	font-size: 20px;
	font-family: "Quicksand";
	font-weight: 600;
}

.main-menu {
	width: 95%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.payment-status {
	margin: 0.5rem;
	padding: 2rem;
	background-color: hsla(0, 100%, 78%, 0.12);
	border-radius: 10px;
}

.payment-status p {
	/* margin-top: 0.5rem; */
	color: #33d9b2;
	font-family: "Nunito";
	font-size: 20px;
	text-align: center;
}

.img-container {
	padding: 1rem 2rem;
	border-radius: 10px;
}

.total-price {
	width: 100%;
	background-color: #96c8eb0d;
	font-family: "Nunito";
	text-align: center;
	margin: 1rem 0;
	padding: 0.5rem 0;
	border-radius: 5%;
}

.total-price h4 {
	font-size: 14px;
	font-weight: 400;
}
.total-price h3 {
	font-size: 16px;
	color: #ff9d21;
}
