/* Header styles */
/* 

....
....
....
....
....

*/

/* Main section styles */
/* .main-menu {
	width: 95%;
	height: 100vh;
	: flex;
	flex-: column;
	-items: center;
	-content: center;
} */

/* Payment status styles */
/*...-status {
	margin: 
	padding: 
	-color: hsla(0, 0%, 68%, 0.16);
	border-: 10px;
}

  ...-status p {
	color: #5b778f;
	font-: "Nunito";
	font-: 20px;
	text-: center;
}

.-container {
	padding: 
	border-: 10px;
} */

/* Total price styles */
/* ...-price {
	width: 100%;
	-color: #96c8eb0d;
	font-: "Nunito";
	text-: center;
	margin: ;
	padding: ;
	border-: 5%;
}

...-price h4 {
	font-: 14px;
	font-: 400;
}
...-price h3 {
	font-: 16px;
	color: #ff9d21;
} */
